<mat-toolbar color="primary" class="example-header">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-grid-list cols="7">
      <a mat-button style="margin-right: 4.5em" routerLink="/home"><b>FleetT&M</b></a>

    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>
<ng-container>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav justify-content-center text-center"
                 [fixedInViewport]="false" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item style="color: white" routerLink="facture-list"><mat-icon>assignment</mat-icon><b>Factures</b></a><br>
        <a mat-list-item style="color: white" routerLink="paiment-list"><mat-icon>paid</mat-icon><b>Paiments</b></a><br>
        <a mat-list-item style="color: white" (click)="getAll()" routerLink="/commande"><mat-icon>shopping_bag</mat-icon><b>Commade</b></a><br>
        <a mat-list-item style="color: white" routerLink="/devis"><mat-icon>request_quote</mat-icon><b>Devis</b></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="flex-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar class="example-footer" id="font" style="font-size: 40px">
    FLEET&M
  </mat-toolbar>
</ng-container>
