<mat-card class="first-card">
  <mat-card-title  >Gestion Des Factures</mat-card-title>
</mat-card>

<a mat-button mat-raised-button color="primary" style="float: right; margin: 10px 40px 15px 0px" href="facture-create"> <span class="material-icons">
add_circle
</span> Nouvelle Facture</a>

<mat-form-field  style=" width: 12%; margin-left: 2%;">
  <mat-label>Recherche</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Fac" #input>
</mat-form-field>

<div  class="mat-elevation-z8" >
<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Référence </th>
      <td mat-cell *matCellDef="let element  "> {{element.reference}} </td>
    </ng-container>
    <ng-container matColumnDef="dateCreation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de création</th>
      <td mat-cell *matCellDef="let element "> {{element.dateCreation}} </td>
    </ng-container>
    <ng-container matColumnDef="dateEchaence" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'échéance</th>
      <td mat-cell *matCellDef="let element "> {{element.dateEchaence}} </td>
    </ng-container>
  <ng-container matColumnDef="client">
    <th mat-header-cell *matHeaderCellDef> Client </th>
    <td mat-cell *matCellDef="let element "> {{element.commande.client.nom}} </td>
  </ng-container>
    <ng-container matColumnDef="total" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
      <td mat-cell *matCellDef="let element "> {{element.total}} </td>
    </ng-container>
  <ng-container matColumnDef="factureEtat" >
    <th mat-header-cell *matHeaderCellDef> État </th>
    <td mat-cell *matCellDef="let element "> {{element.factureEtat.nom}} </td>
  </ng-container>
  <ng-container matColumnDef="factureStatut">
    <th mat-header-cell *matHeaderCellDef> Statut </th>
    <td mat-cell *matCellDef="let element "> {{element.factureStatut}} </td>
  </ng-container>
  <ng-container matColumnDef="commande">
    <th mat-header-cell *matHeaderCellDef> Commande </th>
    <td mat-cell *matCellDef="let element; index as i "><a routerLink="commande-detail" (click)="findCommandeByFactureReference(element.reference, i)">Consulter</a> </td>
  </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element; index as i  ">
        <button mat-icon-button color="warn" aria-label="iconButton"(click)="openDialog(i, element)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
        </button>
        <a mat-icon-button style="color: green" aria-label="iconButton"(click)="update(i, element)" routerLink="facture-create">
          <mat-icon aria-hidden="false" aria-label="Example home icon" >update</mat-icon>
        </a>
        <button mat-icon-button color="warn" aria-label="iconButton" (click)="generatePDF(element , i)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">print</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
