<mat-card class="first-card">
  <mat-card-title  >Gestion Des Paiments</mat-card-title>
</mat-card >
<mat-card style="margin-top: 4%; width: 90%; margin-left: 4% ;" >
  <mat-horizontal-stepper #stepper linear style="background-color: rgba(195, 191, 191, 0.1)">
    <mat-step [stepControl]="firstFormGroup"  >
      <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Détails paiment</ng-template>
      <h3  >Informations de la créance</h3>
      <mat-form-field appearance="legacy" style=" width: 47%" >
        <mat-label>Chercher par facture : </mat-label>
        <mat-select disableRipple  [(ngModel)]="paiment.facture" (click)="findFacturefindByReference(paiment?.facture)"  >
          <mat-option *ngFor="let f of factures" [value]="f"  >
            {{f.reference}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy"  style="margin-left: 5%; width: 48%" >
        <mat-label >Choisir client :</mat-label>
        <mat-select disableRipple [(ngModel)]="commande.client"  >
          <mat-option  *ngFor="let c of clients" [value]="c"   >{{c.nom}}</mat-option>
        </mat-select>
      </mat-form-field>
      <h3>Informations de facturation</h3>
      <mat-form-field appearance="legacy"  class="test" >
        <mat-label >Référence Facture :</mat-label>
        <input matInput type="text"  formControlName="firstCtrl" [(ngModel)]="paiment.reference" >
      </mat-form-field>
      <mat-form-field  appearance="legacy"  class="test">
        <mat-label>Montant de la prestation: {{paiment.facture?.total}}</mat-label>
        <input matInput type="number" placeholder="000 000,00" disabled >  </mat-form-field>
      <h3>Détails du paiement :</h3>
      <mat-form-field appearance="legacy"  class="test" style="margin-top: 10px">
        <mat-label >Date du paiment </mat-label>
        <input matInput type="date" [(ngModel)]="paiment.datePaiment" required>
      </mat-form-field>

      <div >
        <mat-form-field appearance="legacy"  class="test" style="margin-top: 10px" >
          <mat-label >Montant </mat-label>
          <input matInput type="text" placeholder="000 000,00" [(ngModel)]="paiment.montant"required >
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </div>
      <div >
        <mat-form-field appearance="legacy"  class="test" style="margin-top: 10px" >
          <mat-label>Mode de paiment</mat-label>
          <mat-select disableRipple [(ngModel)]="paiment.paimentMethode" >
            <mat-option *ngFor="let p of paimentMethodes" [value]="p"  >
              {{p.nom}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div >
        <mat-form-field appearance="legacy"  class="test" style="margin-top: 10px" >
          <mat-label>Libellé</mat-label>
          <textarea matInput [(ngModel)]="paiment.commentaire"></textarea>
        </mat-form-field>
      </div>
      <h3>État du paiement :</h3>
      <mat-checkbox labelPosition="before"   [value]="paiment.enregistre" [(ngModel)]="paiment.enregistre" >Enregistré :  </mat-checkbox>
      <mat-checkbox labelPosition="before" style="margin-left: 20px" [value]="paiment.comptabilise" [(ngModel)]="paiment.comptabilise"  >Comptabilisé :  </mat-checkbox>

      <div style="text-align: center">
        <button mat-raised-button color="warn" style="margin: 40px 40px 40px 70px">Quitter</button>
        <button mat-raised-button style="margin: 40px 40px 40px 70px; background-color: green; color: white" (click)="save()">Enregistrer</button></div>
        <button mat-raised-button matStepperNext style="float: right; margin-top: 10px" color="primary">Suivant</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" >
      <ng-template matStepLabel>Récapitulatif & Validation</ng-template>
      <div _ngcontent-teq-c46 class="confirmation-step-container" style="background-color: rgba(195, 191, 191, 0.1);">
      <fieldset _ngcontent-teq-c46>
        <legend _ngcontent-teq-c46 >Détails paiment</legend>
        <table _ngcontent-teq-c46>
          <tr _ngcontent-teq-c46>
            <td _ngcontent-teq-c46 colspan="2"> Facture </td>
            <td _ngcontent-teq-c46><strong _ngcontent-teq-c46>Reference facture</strong>
              <br _ngcontent-teq-c46>
              {{paiment.facture?.reference}}</td>
          </tr>
          <tr _ngcontent-teq-c46>
            <td _ngcontent-teq-c46 colspan="2"> Client </td>
            <td _ngcontent-teq-c46><strong _ngcontent-teq-c46>Raison Social</strong>
              <br _ngcontent-teq-c46>
              {{paiment.facture?.commande?.client?.reference}}</td>
          </tr>
          <tr _ngcontent-teq-c46>
            <td _ngcontent-teq-c46 colspan="2"> Réference </td>
            <td _ngcontent-teq-c46>{{paiment.reference}}</td>
          </tr>
          <tr _ngcontent-teq-c46>
            <td _ngcontent-teq-c46 colspan="2"> Montant de la prestation </td>
            <td _ngcontent-teq-c46>{{paiment.facture?.total}} DH</td>
          </tr>
          <tr _ngcontent-teq-c46>
            <td _ngcontent-teq-c46 colspan="2"> Date du paiment </td>
            <td _ngcontent-teq-c46>{{paiment.datePaiment}}</td>
          </tr>
          <tr _ngcontent-teq-c46>
            <td _ngcontent-teq-c46 colspan="2"> Montant </td>
            <td _ngcontent-teq-c46>{{paiment.montant}} DH</td>
          </tr>
          <tr _ngcontent-teq-c46>
            <td _ngcontent-teq-c46 colspan="2"> Mode de paiment</td>
            <td _ngcontent-teq-c46>{{paiment.paimentMethode?.nom}}</td>
          </tr>
          <tr _ngcontent-teq-c46>
            <td _ngcontent-teq-c46 colspan="2"> Libellé</td>
            <td _ngcontent-teq-c46>{{paiment.commentaire}}</td>
          </tr>
          <tr _ngcontent-teq-c46>
            <td _ngcontent-teq-c46 colspan="2"> Etat du paiment</td>
            <td _ngcontent-teq-c46>{{etatPaiment(paiment)}}</td>
          </tr>
        </table>

      </fieldset>
      </div>
      <div style="margin-top: 10px">
        <button mat-raised-button matStepperNext style="float: right" color="primary" class="example-margin">Valider</button>
        <button mat-raised-button  matStepperPrevious style="float: right; background-color: #FF0266; color: white" class="example-margin">Retour</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</mat-card>
