<mat-card class="first-card">
  <mat-card-title  >FleetT&M: Créer un paiment</mat-card-title>
</mat-card>
<mat-card>
  <h3 style="margin-left: 30px" >Informations de la créance</h3>
  <mat-form-field appearance="fill" style="margin-left: 65px" >
    <mat-label>Chercher par facture : </mat-label>
    <mat-select disableRipple  [(ngModel)]="paiment.facture" (click)="findFacturefindByReference(paiment?.facture)" >
      <mat-option *ngFor="let f of factures" [value]="f"  >
        {{f.reference}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="margin-left: 30px" >
    <mat-label >Reference</mat-label>
    <mat-select disableRipple [(ngModel)]="commande.client"  >
      <mat-option  *ngFor="let c of clients" [value]="c"   >{{c.nom}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div style="margin-left: 30px" >
    <h3>Informations de facturation</h3>
  <mat-form-field appearance="fill" style="margin-left: 30px" >
    <mat-label >Référence Facture :</mat-label>
    <input matInput type="text"  [(ngModel)]="paiment.reference" >
  </mat-form-field>
   <mat-card style="padding-right: 130px;margin-left: 30px; height: 20px ; padding-top: 26px;display: inline; background-color: lightgray">{{paiment.facture?.total}}</mat-card>
  </div>
  <div style="margin-left: 30px" >
    <h3>Détails du paiement :</h3>
    <mat-form-field appearance="fill" style="margin-left: 30px" >
      <mat-label >Date du paiment </mat-label>
      <input matInput type="date" [(ngModel)]="paiment.datePaiment" >
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin-left: 30px" >
      <mat-label >Montant </mat-label>
      <input matInput type="text" placeholder="000 000,00" [(ngModel)]="paiment.montant" >
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin-left: 30px">
      <mat-label>Mode de paiment</mat-label>
      <mat-select disableRipple [(ngModel)]="paiment.paimentMethode" >
       <mat-option *ngFor="let p of paimentMethodes" [value]="p"  >
        {{p.nom}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div style="margin-left: 55px">
    <mat-form-field appearance="fill">
      <mat-label>Libellé</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>

  <div style="margin-left: 30px" >
  <h3>État du paiement :</h3><mat-label>Comptabilisée :</mat-label>
    <mat-checkbox class="example-margin" [ngModel]="paiment.paimentStatut" ></mat-checkbox>
    <mat-label>Enregistré :</mat-label>
    <mat-checkbox class="example-margin"  [ngModel]="paiment.paimentStatut" ></mat-checkbox>
  </div>
  <button mat-raised-button color="warn" style="margin: 40px">Quitter</button>
  <button mat-raised-button style="margin: 40px; background-color: green; color: white" (click)="save()">Enregistrer</button></mat-card>
