<mat-toolbar _ngcontent-obx-c27 class="mat-toolbar mat-toolbar-single-row" fxlayoutalign="center center" style="place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
  <h2 _ngcontent-obx-c27>Gestion des paiments </h2> </mat-toolbar>
<div _ngcontent-obx-c27 class="containt">
  <mat-card _ngcontent-obx-c40 class="mat-card ng-star-inserted">
    <mat-card-header _ngcontent-obx-c40 class="mat-card-header">
      <div class="mat-card-header-text">
        <mat-card-title _ngcontent-obx-c40 class="mat-card-title"> Détails Facture</mat-card-title>
        <mat-card-subtitle _ngcontent-obx-c40 class="mat-card-subtitle"> Informations De la facture </mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content _ngcontent-obx-c40 class="mat-card-content">
      <div _ngcontent-obx-c40 class="mb-2" fxlayout="row wrap" fxlayoutalign="space-between" style="flex-flow: row wrap; box-sizing: border-box; display: flex; place-content: stretch space-between; align-items: stretch;">
        <table _ngcontent-obx-c40 fxflex="45%"  fxflexalign="center" style="align-self: center; flex: 1 1 45%; box-sizing: border-box; max-width: 45%;">
          <tr _ngcontent-obx-c40>
            <td _ngcontent-obx-c40>Référence facture</td>
            <td _ngcontent-obx-c40 class="property-value">{{facture.reference}} </td>
          </tr>
          <tr _ngcontent-obx-c40>
            <td _ngcontent-obx-c40>Référence devis</td>
            <td _ngcontent-obx-c40 class="property-value">{{facture?.devis?.reference}} </td>
          </tr>
          <tr _ngcontent-obx-c40>
            <td _ngcontent-obx-c40>Référence commande</td>
            <td _ngcontent-obx-c40 class="property-value">{{facture?.commande?.reference}} </td>
          </tr>
          <tr _ngcontent-obx-c40>
            <td _ngcontent-obx-c40>Raison sociale</td>
            <td _ngcontent-obx-c40 class="property-value">{{facture?.commande?.client?.nom}} </td>
          </tr>
        </table>
        <mat-divider _ngcontent-obx-c40 class="mat-divider mat-divider-vertical" role="separator" aria-orientation="vertical"> </mat-divider>
        <table _ngcontent-obx-c40 fxflex="45%"  fxflexalign="center" style="align-self: center; flex: 1 1 45%; box-sizing: border-box; max-width: 45%;">
          <tr _ngcontent-obx-c40>
            <td _ngcontent-obx-c40>Statut facture</td>
            <td _ngcontent-obx-c40 class="property-value">{{facture.factureStatut}} </td>
          </tr>
          <tr _ngcontent-obx-c40 class="ng-star-inserted">
            <td _ngcontent-obx-c40>Etat facture</td>
            <td _ngcontent-obx-c40 class="property-value">{{facture?.factureEtat?.nom}} </td>
          </tr>
          <tr _ngcontent-obx-c40 class="ng-star-inserted">
            <td _ngcontent-obx-c40>Date de création</td>
            <td _ngcontent-obx-c40 class="property-value">{{facture.dateCreation}} </td>
          </tr>
          <tr _ngcontent-obx-c40 class="ng-star-inserted">
            <td _ngcontent-obx-c40>Date d'échéance</td>
            <td _ngcontent-obx-c40 class="property-value">{{facture.dateEchaence}} </td>
          </tr>
        </table>
      </div>
      <mat-divider _ngcontent-obx-c40 class="divider-7 mat-divider mat-divider-horizontal" role="separator" aria-orientation="horizontal"></mat-divider>
      <div _ngcontent-obx-c40 class="py-2"fxlayout="row wrap" fxlayoutalign="space-between" style="flex-flow: row wrap; box-sizing: border-box; display: flex; place-content: stretch space-between; align-items: stretch;">
        <table _ngcontent-obx-c40 fxflex="45%"  fxflexalign="center" style="align-self: center; flex: 1 1 45%; box-sizing: border-box; max-width: 45%;">
          <tr _ngcontent-obx-c40>
            <td _ngcontent-obx-c40>Prix</td>
            <td _ngcontent-obx-c40 class="property-value">{{facture.prix}} </td>
          </tr>
          <tr _ngcontent-obx-c40 class="ng-star-inserted">
            <td _ngcontent-obx-c40>Quantite</td>
            <td _ngcontent-obx-c40 class="property-value">{{facture.quantite}} </td>
          </tr>
          <tr _ngcontent-obx-c40 class="ng-star-inserted">
            <td _ngcontent-obx-c40>Montant de la prestation</td>
            <td _ngcontent-obx-c40 class="property-value">{{facture.totalHt}} </td>
          </tr>
          <tr _ngcontent-obx-c40 class="ng-star-inserted">
            <td _ngcontent-obx-c40>Conditions de paiment</td>
            <td _ngcontent-obx-c40 class="property-value">{{facture.cdtpaiment}} </td>
          </tr>
        </table>
          <mat-divider _ngcontent-obx-c40 class="mat-divider mat-divider-vertical" role="separator" aria-orientation="vertical"> </mat-divider>
            <table _ngcontent-obx-c40 fxflex="45%"  fxflexalign="center" style="align-self: center; flex: 1 1 45%; box-sizing: border-box; max-width: 45%;">
              <tr _ngcontent-obx-c40>
                <td _ngcontent-obx-c40>Tva</td>
                <td _ngcontent-obx-c40 class="property-value">{{facture.tva_pourcentage}} </td>
              </tr>
              <tr _ngcontent-obx-c40 class="ng-star-inserted">
                <td _ngcontent-obx-c40>Total à payer</td>
                <td _ngcontent-obx-c40 class="property-value">{{facture.totalHtnet}} </td>
              </tr>
              <tr _ngcontent-obx-c40 class="ng-star-inserted">
                <td _ngcontent-obx-c40>Notes</td>
                <td _ngcontent-obx-c40 class="property-value">{{facture.notes}} </td>
              </tr>
              <tr _ngcontent-obx-c40 class="ng-star-inserted">
                <td _ngcontent-obx-c40>Commentaire</td>
                <td _ngcontent-obx-c40 class="property-value">{{facture.commentaire}} </td>
              </tr>
            </table>
          </div>
    </mat-card-content>
    <mat-card-actions _ngcontent-obx-c40 class="card-action mat-card-actions" fxlayout="row-reverse" fxlayoutgap="10px" style="flex-direction: row-reverse; box-sizing: border-box; display: flex;">
      <button _ngcontent-obx-c40 color="warn" mat-flat-button class="mat-flat-button mat-warn" style="margin-left: 10px;" href="paiment-list" >
        <span class="mat-button-wrapper"> Liste des paiments </span>
        <div class="mat-button-ripple mat-ripple" matripple ></div>
<div class="mat-button-focus-overlay" > </div>
</button>
</mat-card-actions>
</mat-card>
</div>
