/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.confirm-dialog-container .mat-dialog-container {
  border-radius: .25em .25em .4em .4em ;
  padding: 0px;
}
