<h3 mat-dialog-title style="background-color: orange;">Nouveau Paiment</h3>
<mat-form-field appearance="fill">
  <mat-label>Date du paiment</mat-label>
  <input matInput type="date">
</mat-form-field>
<div>
<mat-form-field appearance="fill">
  <mat-label>Mode de paiment</mat-label>
  <mat-select disableRipple  [(ngModel)]="paimentMethode.id">
    <mat-option *ngFor="let p of paimentMethodes" [value]="p.id"  >
      {{p.nom}}</mat-option>
  </mat-select>
</mat-form-field></div>
<div>
<mat-form-field appearance="fill">
  <mat-label>Montant</mat-label>
  <input matInput type="number" placeholder="000 000,00">
</mat-form-field>
</div>
  <div>
<mat-form-field appearance="fill">
  <mat-label>Libellé</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
</div>
<mat-dialog-actions>
<button mat-raised-button color="warn" mat-dialog-close>Quitter</button>
<button mat-raised-button style="margin-left: 10px; background-color: green; color: white" (click)="save()">Valider</button>
</mat-dialog-actions>
